<!-- <ul *ngIf="users$ | async as users">
  <li *ngFor="let user of users"> -->
<!-- <button
      [class.selected]="(selectedUser$ | async)?.id === user.id"
      type="button"
      (click)="OnSelect(user.id)"
    > -->
<!-- <span class="name">{{ user.name }}</span>
    <span class="name">{{ user.username }}</span>
    <button
      (click)="onButtonClicked(user.id)"
      mat-raised-button
      class="btn btn-primary"
    >
      <span>Detail</span>
    </button>
  </li>
</ul> -->
<!-- <app-user *ngIf="selectedUser$ | async as selectedUser" [user]="selectedUser">
  -->
<!-- </app-user> -->
<!-- </li>
</ul> -->
